# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Po
bin/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.autotools
.cproject
.project
.settings/

Makefile*
config.*
autom4te.cache
